.root {

}

.textControls {
    display: flex;
    /*margin-bottom: 40px;*/
}

.lang {
    width: 50%;
}

.lang + .lang {
    margin: 0 0 0 20px;
}

.flag {
    width: 20px;
    height: 15px;
    background: #000;
    margin: 0 10px 0 0;
    opacity: .1;
}

.textField {
    margin: 20px 0 0;
}

.map {
    height: 320px;
    margin: 0 0 40px;
}
