.root {
    display: block;
 /*   padding: 10px;
    margin: 10px;*/
}

.content {
    padding: 8px 16px 32px;
    display: none;
    &_expanded {
        display: block;
    }
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    /*margin: 0 0 5px;*/
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, .04);
    }
    &:active {
        background: rgba(0, 0, 0, .06);
    }
}

.staticHeader {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 0 8px;
}

.title {
    font-family: 'Roboto';
    /*@extends $typography-label;*/
}

.subtitle {
    margin: 0 0 0 16px;
    flex: 1;
    /*@extends $typography-body-sm-2;*/
}