.root {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    &_drag {
        opacity: .25;
    }
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon {
    margin-left: 16px;
    height: 40px;
    z-index: 1;
    &:hover ~ .bg {
        background: rgba(0, 0, 0, 0.1);
    }
}

.secondary {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    margin: 4px 0 0 0;
    color: rgba(0, 0, 0, 0.54);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    padding: 18px;
    position: relative;
    flex: 1;
    z-index: 1;
    &:hover ~ .bg {
        background: rgba(0, 0, 0, 0.1);
    }
}

.action {
    z-index: 1;
}

.handle {
    z-index: 1;
    padding: 12px;
    opacity: .5;
    cursor: move;
    height: 24px;
    margin: 0 6px 0 0;
}
