@import "../../styles/colors";

.root {

}

.bar {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 100px 0;
    background: $color-grey-50;
}
