.root {
    display: flex;
    flex-direction: column;
    width: 144px;
    height: 144px;
    background: rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    &:after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .1);
        border-radius: 4px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        will-change: opacity;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover:after {
        opacity: 1;
    }
    &_type_CheckList {
        background: #e43325;
        .icon {
            background-image: url('./icons/check list icon.png');
        }
    }
    &_type_Institutes {
        background: #feb000;
        .icon {
            background-image: url('./icons/institute icon.png');
        }
    }
    &_type_Dormitories {
        background: #e50079;
        .icon {
            background-image: url('./icons/dormitory icon.png');
        }
    }
    &_type_AdmissionCenter {
        background: #00a2d3;
        .icon {
            background-image: url('./icons/admission centre icon.png');
        }
    }
    &_type_VisaSupport {
        background: #e43325;
        .icon {
            background-image: url('./icons/visa support icon.png');
        }
    }
    &_type_StudentSupport {
        background: #feb000;
        .icon {
            background-image: url('./icons/student support icon.png');
        }
    }
    &_type_MedicalInsuranceAndService {
        background: #e50079;
        .icon {
            background-image: url('./icons/medical service icon.png');
        }
    }
    &_type_Libraries {
        background: #00a2d3;
        .icon {
            background-image: url('./icons/library icon.png');
        }
    }
    &_type_Sport {
        background: #e43325;
        .icon {
            background-image: url('./icons/sport icon.png');
        }
    }
    &_type_Canteens {
        background: #feb000;
        .icon {
            background-image: url('./icons/canteen icon.png');
        }
    }
    &_type_Banks {
        background: #e50079;
        .icon {
            background-image: url('./icons/bank icon.png');
        }
    }
    &_type_NewsAndEvents {
        background: #00a2d3;
        .icon {
            background-image: url('./icons/news icon.png');
        }
    }
    &_type_FAQ {
        background: #e43325;
        .icon {
            background-image: url('./icons/faq icon.png');
        }
    }
    &_type_CampusMap {
        background: #feb000;
        .icon {
            background-image: url('./icons/map icon.png');
        }
    }
}

.text {
    z-index: 1;
    font-family: Roboto, sans-serif;
    color: #fff;
}

.iconWrap {
    flex: 1;
}

.icon {
    z-index: 1;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
}
