.root {
    width: 20px;
    height: 13px;
    background-size: 20px 13px;

    &_country_us {
        background-image: url(./united-states-of-america.png);
    }

    &_country_ru {
        background-image: url(./russia.png);
    }
}
