@import "../../styles/colors";

.root {
    background-color: $color-primary;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    position: relative;
    z-index: 10000;
    width: 100%;
    display: flex;
    min-height: 64px;
    padding: 0 24px;
    align-items: center;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0 12px;
    padding: 0;
    letter-spacing: 0;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    line-height: 64px;
    flex: 1;
}