@import "../../styles/colors";

.root {
    display: flex;
}

.day {
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border: 1px solid rgba(0,0,0, .15);
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0 5px 0 0;
    cursor: pointer;
    box-sizing: border-box;
    &_active {
        color: #fff;
        background: $color-accent;
    }
}