.colors {
    display: flex;
}

.color {
    margin: 0 32px 0 0;
}

.message {
    display: flex;
    margin: 0 0 0 32px;
    align-items: center;
}

.messageText {
    display: inline-block;
    margin: 0 0 0 12px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,.26);
}

.controls {
    display: flex;
    margin: 60px 0 0 0;
}

.root {
    width: 960px;
}

@media screen and (width < 1000px) {
    .root {
        width: 760px;
    }
}
