.root {
    display: flex;
}

.lang {
    width: 50%;
}

.lang + .lang {
    margin: 0 0 0 20px;
}

.controls {
    margin: 15px 0 0;
    width: 100%;
}

.flag {
    width: 20px;
    height: 15px;
    background: #000;
    margin: 0 10px 0 0;
    opacity: .1;
}