.root {
    width: 840px;
    margin: 0 -24px 0 0;
}

@media screen and (width < 900px) {
    .root {
        width: 504px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 0 24px 24px 0;
}
