.form {
    padding: 16px;
    width: 296px;
    box-sizing: border-box;
}

.input {
    margin: 0 0 16px;
}

.button {
    margin: 24px 0 16px;
    text-align: center;
}

.logo {
    background-image: url('./full_russianlogo.png');
    background-size: 176px 68px;
    width: 176px;
    height: 68px;
    margin: 32px auto 32px;
}
