.root {
    display: flex;
    align-items: center;
    line-height: 56px;
}

.imageName {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 18px 0 6px;
}

.description {
    margin: 0 16px;
    width: 400px;
}

.image {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &:hover {
        cursor: pointer;
        background: rgba(153, 153, 153, .15);
    }
}
