.root {
    width: 60px;
    height: 60px;
    line-height: 58px;
    border-radius: 4px;
    color: rgba(0, 0, 0, .30);
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        border-radius: 4px;
    }
    &:hover:after {
        background: rgba(0, 0, 0, .05);
    }
    &:active:after {
        background: rgba(0, 0, 0, .1);
    }
    &_empty {
        border: 1px dashed rgba(0, 0, 0, .15);
    }
    &_small {
        width: 40px;
        height: 40px;
        font-size: 12px;
        line-height: 38px;
    }
}